body {
    background-color: #f5f5f5;
    font-family: Droid Sans, DejaVu Sans, Arial, Sans-Serif;
    font-size: 18px;
    padding: 10px;
    margin: auto;
    max-width: 800px;
}

header {
    text-align: center;
}
header h1 {
    color: #b87333;
    font-size: 2em;
    text-transform: uppercase;
}
header h1 img {
    display: inline-block;
    vertical-align: middle;
    /* opacity: 0.75; */
}
