body {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 18px;
    line-height: 1.5em;
}
header, main, footer {
    margin: auto;
    max-width: 896px;
    padding: 10px;
}

header {
    text-align: center;
}

header h1 span {
    position: absolute;
    left: -9999px;
}

main section {
    padding-bottom: 2em;
}

ol ul {
    padding-left: 1em;
}
