body {
    background-color: #f5f5f5;
    font-family: Courier, Courier New;
    font-size: 18px;
    padding: 10px;
    margin: auto;
    max-width: 800px;
}

header {
    text-align: center;
}
header img,
header h1 {
    display: inline-block;
}
header img {
    vertical-align: middle;
}
header h1 {
    color: #b87333;
    font-size: 2em;
    text-transform: uppercase;
}
